<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-lottery (whenDraw)="setDraw($event)" 
             [pickedNumbers]="pickedNumbers" 
             (sendGames)="registerGame($event)"
             (isLoteryDraw)="setLotteryDraw($event)"></app-lottery>

<app-my-games [myGames]="myGames" [pickedNumbers]="pickedNumbers"></app-my-games>

<app-new-game [lotteryDraw]="lotteryDraw" (submitNewGame)="newGames($event)" ></app-new-game>

